/* RESET CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    
}

.header__nav--items,
.header__subnav {
    list-style-type: none;
}

#header{
    position: relative;
    width: 100%;
    height: 104px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.12);
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.header__logo {
   

}

.header__logo--img {
    width: 188px;

}

.header__nav {
    position: relative;
}

.header__nav--items > li > a {
    color: #fff ;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.header__nav--items > li {
    display: inline-block;
    padding: 25px 16px;
}

.header__subnav li:hover {
    background-color: rgb(236, 236, 236);

}

.header__nav--items li:hover .header__subnav{
    display: block;    
    
}

.header__nav--items li a {
    
    font-size: 14px;
    text-decoration: none;
}

.header__nav--btn {
    /* display: block; */
    width: 100%;
    padding: 8px 20px;
    border-radius: 30px;
    background-color: rgb(186, 113, 218);
}

.header__menu {
    font-size: 28px;
    padding: 10px 14px;
}

.header__subnav {
    display: none;
    position:absolute;
    width: 202px;
    height: 52px;
    margin-top: 25px;
    box-shadow: 0px 2px 5px #f1f1f1;
    
}

.header__subnav--items a {
    color: #9a9a9a;
}

.header__subnav--items  {
    
    padding: 15px 25px;
    font-size: 14px;
    background-color: #fff;
}

#slider {
    height:1080px;
    background-color:#ccc;
}

#container {

}

#footer {

}
